doctype html
meta(charset="utf-8")
html(lang='en')
    head
        title Meteroite Landings
        link(rel="stylesheet" href="./style.css")
        //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')
        script(src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous")


    body
        #info
        #title
            h1 Meteorite Landings
                br
                | Across the Globe
            .small Hover over a circle for more detail.

        #world
        script(src="https://d3js.org/d3.v4.min.js")
        script(src='d3.js')
